* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #141414;  
  color: #ffffff;
}
.row {
height: 100%;
display: flex;
overflow-x: auto;
flex-wrap: nowrap; 
}
.App {
  border: 2px dashed green;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
}